<ion-menu contentId="main-content" type="overlay" [side]="side">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>

      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="container">
      <div class="content">
        <ion-list>
          <ion-menu-toggle>
            <ion-button expand="block" [color]="route.name === currentRoute ? 'primary' : 'medium' " ion-item [class.highlight]="route.name === currentRoute" *ngFor="let route of routes" (click)="clickOnRoute(route.name)" >
              {{route.title}}
            </ion-button>  
          </ion-menu-toggle>
         </ion-list>
      </div>
  
      <ion-menu-toggle>
        <ion-button expand="block" (click)="logout()">
          {{titles.logout}}
        </ion-button>
      </ion-menu-toggle>
    </div>
  </ion-content>
</ion-menu>
