<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titles.main}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button expand="block" (click)="goToScan()">
      {{titles.scan_barcode}}
    </ion-button>
    <ion-button expand="block" (click)="goToRecongnition()">
      {{titles.text_reconigtion}}
    </ion-button>

    <ion-button expand="block" (click)="logout()">
      {{titles.logout}}
    </ion-button>
  </div>
</ion-content>
