<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-toggle> 
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container ion-padding" id="main-content">
    <div class="content">
      <div class="avatar-container">
        <ion-avatar class="image">
          <ion-img [src]="profile?.image"></ion-img>
          <div class="icon-container">
            <div class="icon">
              <ion-icon name="camera"></ion-icon>
            </div>
          </div>
        </ion-avatar>
      </div>
  
      <div>
        <ion-text>
          <h2>{{email}}</h2>
        </ion-text>
        <ion-text>{{profile?.name}}</ion-text>
      </div>
    </div>

    <ion-button color="danger" expand="block" (click)="logout()">
      {{titles.logout}}
    </ion-button>
  </div>
</ion-content>
