.container {
  height: 95%;
}
.avatar-container {
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: aquamarine;
}
.avatar-wrapper {
  align-items: center; 
  width: 100%;
  display: flex; 
  align-content: center;
  justify-content: center
}
.avatar {
  font-size: 100pt;
}
.content {
  height: 90%;
}
.image {
  width: 200px;
  height: 200px;
  border-color: #403E39;
  border-width: thick;
  border-style: solid;
}
.icon-container {
  display: flex; 
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  position: absolute;
  top: 10%;
  right: 16px;
  z-index: 100;
}
.icon {
  background-color: white;
  border-color: #403E39;
  border-width: thin;
  border-style: solid;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}
.modal-wrapper {
  height: 30%;
  top: 70%;
}
ion-backdrop {
  background: var(--ion-color-dark);
  opacity: 0.3;
}