<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-toggle> 
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-backdrop *ngIf="editting.length"></ion-backdrop>

<ion-content [fullscreen]="true">
  <div class="container" id="main-content">
    <div class="content">
      <div class="avatar-container ion-padding">
        <div class="avatar-wrapper">
          <ion-avatar class="image">
            <ion-img [src]="profile.profile?.image"></ion-img>
          </ion-avatar>
        </div>
        <div class="icon-container">
          <div class="icon">
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>
      </div>
  
      <div>
        <ion-item>
          <ion-text>
            <h2>{{profile.email}}</h2>
          </ion-text>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let item of profile.profiles" button (click)="showEditField(item.key)">
            <ion-text>{{item.value}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-input type="date" [value]="profile.profile.dob" (ionChange)="updateFieldDob($event)"></ion-input>
          </ion-item>
        </ion-list>
      </div>

      <ion-modal [isOpen]="editting.length" class="modal-wrapper">
        <ng-template>
          <ion-header>
            <ion-toolbar class="ion-padding-end ion-padding-start">
              <ion-text>{{editting.toUpperCase()}}</ion-text>
              <ion-icon slot ='end' name="close" (click)="showEditField('')"></ion-icon>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-input [value]="edittingValue" (ionInput)="onChangeField($event)" fill="outline"></ion-input>
            <ion-button class="ion-margin-top" (click)="updateField()" expand="block">{{ 'GLOBAL.SAVE' | translate }}</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>

    <div class="ion-padding">
      <ion-button color="danger" expand="block" (click)="logout()">
        {{titles.logout}}
      </ion-button>
    </div>
  </div>
</ion-content>
