<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{titles.main}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-toggle> 
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="main-content" class="container">
    <ion-card>
      <ion-text>
        {{titles.content}}
      </ion-text>
    </ion-card>
  </div>
  <div class="ion-padding">
    <ion-button expand="block" (click)="showActionSheetActions()">{{titles.action_sheet}}</ion-button>
    <ion-button expand="block" (click)="showCameraAction()">{{titles.show_camera}}</ion-button>
  </div>
</ion-content>
