<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{titles.title}}</ion-title>

    <ion-buttons slot="end">
      <ion-menu-toggle> 
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 16px;">
    <ion-button expand="block" (click)="scanBarcode()">{{titles.title}}</ion-button>
  </div>
  <ion-card *ngIf="barcodes[0]" style="padding: 16px;">
    <ion-text >Values: {{barcodes[0].displayValue}}</ion-text>
  </ion-card>
</ion-content>
