<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{titles.title | translate}}</ion-title>
    <ion-button fill="outline" color="danger" class="ion-padding-end" slot="end" (click)="logout()">{{'PROFILE.LOGOUT' | translate}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="ion-padding">
      <ion-list>
        <ion-button class="button-item" *ngFor="let button of buttons" expand="block" (click)="goToPage(button.page)">{{button.title | translate}}</ion-button>
      </ion-list>
    </div>
  </div>
</ion-content>
