<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{titles.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle> 
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 16px;">
    <ion-button (click)="selectImage()">{{titles.select}}</ion-button>
    <ion-button (click)="capture()">{{titles.capture}}</ion-button>
    <ion-button [disabled]="disableAnalyze" (click)="analyzeImage()">{{titles.analyze}}</ion-button>
  </div>

  <ion-card *ngIf="image">
    <ion-img [src]="image"></ion-img>
  </ion-card>

  <ion-card *ngIf="imagePath" style="padding: 16px;">
    <ion-text>{{imagePath}}</ion-text>
  </ion-card>

  <ion-card *ngIf="text" style="padding: 16px;">
    <ion-text>
      {{text}}
    </ion-text>
  </ion-card>

  <ion-loading [message]="titles.processing" [isOpen]="loading"></ion-loading>
</ion-content>
