<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input [label]="titles.username" [placeholder]="titles.username" [value]="username" (ionInput)="onChangeUsername($event)"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input [label]="titles.password" [placeholder]="titles.password" [type]="showPassword ? 'text' : 'password'" [value]="password" (ionInput)="onChangePassword($event)" (keyup.enter)="login()" >
        </ion-input>
        <ion-icon *ngIf="password.length > 0" color="primary" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" (click)="toggleShowPassword()"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <div class="buttons">
    <ion-button expand="block"  (click)="login()">{{title}}</ion-button>
    <ion-button expand="block">{{titles.signup}}</ion-button>
    <ion-button expand="full" fill="clear">{{titles.forgot_password}}</ion-button>
  </div>

  <ion-loading [isOpen]="loading()" ></ion-loading>
</ion-content>
