<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" class="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="scan">
        <ion-icon name="scan"></ion-icon>
          Scan
      </ion-tab-button>
      <ion-tab-button tab="text-recongition">
        <ion-icon name="text"></ion-icon>
          Text Recongnition
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
